@font-face {
    font-family: "SSS";
    src: url(../font/samsung-sharp-sans/samsungsharpsans.otf);
    font-weight: normal;
}
@font-face {
    font-family: "SSSMedium";
    src: url(../font/samsung-sharp-sans/samsungsharpsans-medium.otf);
    font-weight: medium;
}
@font-face {
    font-family: "SSSBold";
    src: url(../font/samsung-sharp-sans/samsungsharpsans-bold.otf);
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "SSS", sans-serif;
}
.main-container{
    display: block;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 20px auto 30px auto ;
}
.banner-box{
    display: flex;
    width: 100%;
}
.slide-box {
    display: flex;
    width: 65%;
    float: left;
    margin-right: 20px;
    position: relative;
}
.slide-box img {
    width: 100%;
    object-fit: cover;
    height: auto;
    display: none; /* Hide all images by default */
}
.slide-box img:first-child {
    display: block; /* Show the first image */
}
button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
button.prev {
    left: 10px;
}
button.next {
    right: 10px;
}
button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.fixed-banner-box{
    display: block;
    width: 35%;
    float: right;
}
.fixed-banner-box img{
    padding-bottom: 10px;
    width: 100%;
    object-fit: cover;
    height: auto;
}

.product-card-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    background-color: #F7F7F7;
    border-radius: 10px;
    justify-content: space-between;
    padding: 20px;
}
.product-card-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px black;
}

.product-card-container-header-title {
    padding: 5px 0px;
    position: relative;
    font-family: "SSSBold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    margin-left: 10px; /* Add margin to the left to push it to the left */
}

.product-card-container-header-title::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0; /* Adjusts the position of the underline */
    left: 0;
}

.product-card-container-header-title:hover {
    text-decoration: none;
    color: black;
}

.product-card-container-header-button {
    font-family: "SSSBold", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    padding-bottom: 5px;
    margin-right: 10px; /* Add margin to the right to push it to the right */
}

.product-card-container-header-button:hover {
    text-decoration: underline;
    color: black;
}
.product-card{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 30px 15px 10px 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    justify-content: space-between;
}
.product-card img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    padding: 30px 0px;
}
.product-card-title{
    font-family: "SSSBold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding: 10px 0px;
    text-align: center;
}
.product-card-price{
    font-family: "SSSMedium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding: 10px 0px;
    text-align: center;
}
.product-card-button{
    font-family: "SSSBold", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px 0px;
    text-align: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;

}
.product-card-button:hover{
    text-decoration: none;
    background-color: #3b98ef;
    color: white;
}
/* banner */
.banner{
    object-fit: cover;
    display: block;
    width: 100%;
    margin: 20px auto;
}
/* benefit */
.benefit-container{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}
.benefit-img{
    width: 49%;
    object-fit: cover;
    height: auto;
}
.benefit-img-left{
    margin-left: 0;
}
.benefit-img-right{
    margin-right: 0;
}

.news-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    margin-bottom: 70px;
}
.news-container-header{
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px black;
}
.news-container-header-title{
    margin: 0px;
    display: block;
    justify-content: center;
    position: relative;
    font-family: "SSSBold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}
.news-card-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}
.news-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 20px 0 10px 0;
    background-color: white;
    border-radius: 8px;
    justify-content: space-between;
}
.news-card-img-container-img{
    object-fit: cover;
    border-radius: 13px 13px 0 0;
    padding: 10px 0px;
}
.news-card-date{
    font-family: "SSS", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding: 5px 0px;
}
.news-card-title a{
    font-family: "SSSBold", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding: 10px 0px;
}
.news-card-title a:hover{
    text-decoration: none;
}
.back-to-top {
    position: fixed;
    bottom: 150px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
}

/* Media Queries */
@media (max-width: 1200px) {
    .slide-box, .fixed-banner-box {
        width: 100%;
        float: none;
        margin: 0;
    }
    .slide-box {
        margin-bottom: 20px;
    }
    .product-card {
        width: 45%;
    }
    .news-card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .product-card {
        width: 100%;
    }
    .news-card {
        width: 100%;
    }
    .benefit-container {
        flex-direction: column;
    }
    .benefit-img {
        width: 100%;
        margin-bottom: 20px;
    }
    .benefit-img-right {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .product-card-container {
        padding: 10px;
    }
    .product-card {
        padding: 10px;
    }
    .product-card-title {
        font-size: 16px;
    }
    .product-card-price {
        font-size: 14px;
    }
    .product-card-button {
        font-size: 12px;
        width: 70%;
    }
    .news-container-header-title {
        font-size: 20px;
    }
    .news-card-title a {
        font-size: 12px;
    }
    button.prev, button.next {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }
}
