@font-face {
    font-family: "SSS";
    src: url(../font/samsung-sharp-sans/samsungsharpsans.otf);
    font-weight: normal;
}
@font-face {
    font-family: "SSSMedium";
    src: url(../font/samsung-sharp-sans/samsungsharpsans-medium.otf);
    font-weight: medium;
}
@font-face {
    font-family: "SSSBold";
    src: url(../font/samsung-sharp-sans/samsungsharpsans-medium.otf);
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-container{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.login-banner img{
    object-fit: cover;
}

.login-form{
    width: 100%;
   
    padding: 0 2rem;
}
.login-form-title{
    font-family: "SSSBold";
    font-size: 24px;
    margin: 20px 0;
   
    border-bottom: 1.5px solid #000;
    color: black;
    font-weight: 700;
}

.login-form-title::after{
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: #000;
    margin-top: 10px;
}
.login-form-box{
    width: 100%;
    margin: 20px 0;
}
.login-form-label{
    font-family: "SSSMedium";
    font-size: 14px;
    color: #000;
    margin: 10px 0 ;
}
.login-form-box input{
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: "SSS";
    font-size: 14px;
    margin: 0 0 0 0;
}

.login-form a{
    font-family: "SSSMedium";
    font-size: 14px;
    color: #000;
    text-decoration: none;
   
    display: block;
}
.login-form-box button{
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: "SSSMedium";
    font-size: 14px;
   
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.login-form-action-box{
    display: flex;
}
.login-form-action-box .forgotadw{
   
    margin-left: auto;
    font-family: "SSSBold";
    font-weight: bold;
}
.login-form-box button:hover{
    background-color: #172226;

}
